<h1>Listing contacts</h1>

<script type='text/x-handlebars'>
  {{ view App.ListContactView }}
</script>

<script type='text/javascript'>
  $(function() {
    App.contactsController.loadAll(<%= @contacts.to_json.html_safe %>);
  });
</script>
